<div class="page-header">
  <h2>Users</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
