<div class="brand">Sample Apps</div>
<div class="menu-list">
  <ul id="menu-content" class="menu-content collapse out">
    <li>
      <a href="#users"><i class="fa fa-users fa-lg"></i> Users</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-plane fa-lg"></i> Services</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-user fa-lg"></i> Profile</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-coffee fa-lg"></i> Others</a>
    </li>
  </ul>
</div>

